.home-component-parent{
    padding: 15px;
}

.home-search-content{
    margin-bottom: 15px;
}

.home-main-content{
    display: flex;
}

.home-filterbar-content{
    width: 20%;
    padding-right: 15px;
}

.home-auctions-content{
    width: 80%;
}