.layout-child-holder{
    display: flex;
    width: 100%;
    
}

.layout-child-one{
    
}

.layout-child-two{
    width: calc(100vw);
    padding: 0px 60px;
    height: calc(100vh - 60px);
    background-color: #F8f8f8;
}
