.searchbar-container{
    background-color: #fff;
    border: 2px solid #330748;
    display: flex;
    justify-content: space-between;
}

.searchbar-input{
    display: flex;
    justify-content: center;
    width: calc(100%);
    padding: 5px;
}

.searchbar-btn{
    height: 60px;
    width: 60px;
    background-color: #9051ff;
}